<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)).html_safe %></title>
    <meta name="description" content="<%= meta_desc(yield(:desc)) %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= include_gon(:init => true) %>
    <%= Gon::Base.render_data({}) %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>

  <body>
  	<%= render "shared/header" %>
  	<%= render "shared/flash" %>
  	<% if action_name != "editor" %>
	  	<div class="container-fluid" >
		  	<div class="row">
		  		<div class="col-lg-12">
				    <%= yield %>
			    </div>
		    </div>
	    </div>
    <% else %>
    	<%= yield %>
    <% end %>
  </body>
</html>
